/PetImages
/__pycache__
/dev_data
*.pkl
*.zip
*tar.gz
*.docx
/.ipynb_checkpoints
readme[1].txt
*.yml
/scitech
/wf-output
/wf-scratch
pegasus.proprtie
*pickle
*.txt
!corrupted_files.txt
!requirements.txt
pegasus.properties
